#header{
     font-family: Verdana;   
     border: solid violet;
     border-radius :5px;
}

.left{
     font-family: Verdana;   
     border: solid violet;
     border-radius :5px;
}

.right{
     font-family: Verdana;   
     border: solid violet;
     border-radius :5px;
}

#footer{
     font-family: Verdana;   
     border: solid violet;
     border-radius :5px;
}
